* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-form: #a18268;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary-dark);
  background-color: #1b1b1b;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*---------------------------------------- HEADER */
.header {
  background-color: #33312f;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 64px;
}

.button {
  font-weight: 600;
  padding: 16px 32px;
  border: 2px solid;
  border-radius: 8px;
  border-color: var(--color-brand-light);
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  cursor: pointer;
}

.button:active {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

/*---------------------------------------- HERO */
.hero-section {
  padding: 272px 0;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/*---------------------------------------- ADVANTAGES */
.advantages-section {
  background-color: var(--color-brand-light);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 16px 0;
  color: var(--color-primary-light);
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
}

/*---------------------------------------- SECTION TITLE */
.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/*---------------------------------------- TRADITIONS */
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-text .highlight {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited-width {
  max-width: 335px;
}

.bakerman-image {
  border-radius: 200px 200px 0 0;
}
/*---------------------------------------- OUR CHEFS */
.chefs-title {
  text-align: center;
  margin-bottom: 80px;
}

.chefs {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.chef-card {
  display: flex;
  flex-basis: 605px;
  gap: 30px;
}

.chef-image {
  border-radius: 5px 5px 5px 200px;
}

.chef-text {
  max-width: 300px;
}

.chef-name {
  font-weight: 600;
  font-size: 40px;
}

/*---------------------------------------- FORMATS */
.format-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 16px;
  padding: 24px;
  height: 444px;
  background-color: #3a2250; /* DELETE */
}

.formats-title {
  text-align: center;
  margin-bottom: 80px;
}

.format-title {
  color: var(--color-primary-light);
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
}

/*---------------------------------------- CONTACT */
.contact-title {
  margin-bottom: 16px;
}

.contact-text {
  color: var(--color-brand-dark);
}

/*---------------------------------------- FOOTER */

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.copyright {
  color: var(--color-primary-dark);
  font-size: 14px;
}

/* .socials {
  display: flex;
  column-gap: 22px;
}

.fa-facebook,
.fa-instagram {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-light);
  color: var(--color-primary-dark);
}
 */
